{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h2>Dashboard</h2>
    <h3>Your Expenses</h3>
    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.date }}: {{ expense.category.name }} - ${{ expense.amount }} <br>
                Description: {{ expense.description }}
                <br>
                <a href="{{ url_for('main.edit_expense', expense_id=expense.id) }}">Edit</a> |
                <form action="{{ url_for('main.delete_expense', expense_id=expense.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

